.d-flex {
	display: flex;
	justify-content: space-between;
}

input {
	width: 20px;
	overflow: hidden;
}

.container {
	border: 1px solid black;
	width: 33%;
	display: flex;
	flex-direction: column;
}

.container .subsec-1 {
	display: flex;
	justify-content: space-between;
}

.subsec-1 .stats {
	border: 1px solid black;
	padding: 0px 30px;
}

.subsec-1 .set {
	display: flex;
	width: 100%;
	justify-content: center;
}

.container .subsec-2 {
	display: flex;
}

.subsec-2 .dicegroup {
	display: flex;
}

.box {
	display: flex;
	flex-direction: column-reverse;
	max-height: 420px;
	overflow-y: auto;
	padding: 1rem;
}

.subsec-2 .droll-container {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.box::-webkit-scrollbar {
	width: 10px;
	background-color: darkgray;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 100px;
}

.box::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}

.box::-webkit-scrollbar-thumb {
	background-color: #d4aa70;
	border-radius: 100px;
}
